
<div class="container" ng-cloak>
	<div class="row">

	<div>
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="offset-s-4 col-s-4">
							<nav role='navigation' class="push-right">
								<ul>
									<li><a href="#/" >See All Posts</a></li> //
									<li><a href="#/new" >Add New Post</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="container">
					<div class="row">
							<ul class="post-grid" ng-show="blog.isSelected('blog')">
								<div class="col-lg-4 col-sm-4" ng-repeat="post in blog.posts">
									<li   ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)" >
										<h3>{{post.title}}</h3>
										<p>{{post.body[0] | limitTo:70}}...</p>
										<p class="fa fa-comment push-left"> {{post.comments.length}}
										</p>
										<p class="fa fa-heart push-right"> {{post.likes}}
										</p>
									</li>
							</div>
							</ul>
							<div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
								<div>
									<h2>{{post.title}}</h2>
									<img ng-src="{{post.image}}" width="550"/>
									<br>
									<cite>by {{post.author}} on {{post.createdOn | date}}</cite>
									<div class="post-body">
									 <p ng-repeat="paragraph in post.body">
										 {{paragraph}}
									 </p>
									</div>
									<div class="comments">
									  <button class="fa fa-heart" ng-click="blog.addLike(post)"> {{post.likes}}</button>
										<a href="#/newComment/{{post.id}}">Add comment</a>
										<h3>Comments</h3>

									  <ul>
									   <li ng-repeat="comment in post.comments">
									     "{{comment.body}}"
									     <cite>- <b>{{comment.author}}</b></cite>
									   </li>
									  </ul>
									</div>
								</div>
							</div>
					</div>
				</div>

		</div>
	</div>

	</div>
</div>
